
        *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
        .outer-image{
            background-image:url(Netflix-images/netflix-background.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-clip: border-box;
            width: 100%;
            height: 700px;
        }
        .header{
            width: 100%;
            height: 680px;
            position: absolute;
            z-index: 2;
            top: 20px;
            border-bottom: 13px solid
            rgb(35,35,35);
        }
       .overlay {
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            width: 100%;
            height: 700px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }
        .nav{
            width: 80%;
            margin: 0 auto;
            /* background-color: antiquewhite; */
            height: 100px;
            display: flex;
            /* z-index: 2; */
        }
        .netflix{
            width: 208px;
             height: 73px;
        }
        .nav-right{
            display: flex;
            width: 30%;
            padding-left: 53px;
    
        }
        .drop-select{
            height: 36px;
            padding-left: 25px;
            display: flex;
            border: 2px solid rgb(152, 149, 149);
            border-radius: 5px;
            width: 116px;
        }
        .drop-select select{
            background-color: transparent;
            color: white;
            appearance: none;
            width: 62px;
            border: none;

        }
        /* .select::after{
            content: "\f0d7";
        }         */
        .btn{
            height: 36px;
            text-decoration: none;
            color: #fff;
            padding: 6px 20px;
            margin-left:20px ;
            background: #e50914;
            border-radius: 5px;
            font-size: 1.1rem;
            text-align: center;
            display: block;

        }
        .nav-right select{
            width: 135px;
        }
        .section-one{
            height: 430px;
            
        }
        .section-one-1{
            color: white;
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 100%;
            /* justify-content:  center; */
            /* top: 270px; */
            /* position: absolute;
            z-index: 2; */
            margin-top: 150px;
        }
        .section-one-1 h2{
            font-size: 3rem;
            font-weight: 900;
            font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
        }
        .section-one-1 p{
            font-size: 1.5rem;
            font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
            font-weight: 400;
            margin-top: 20px;
            /* font-size: 50px; */
        }
        .section-one-2{
            /* position: absolute; */
            /* bottom: 8rem; */
            color: white;
            /* z-index: 2; */
            display: flex;
            /* background-color: #e50914; */
            /* height: 50px; */
            justify-content: center;
            margin-top: 12px;
        }
        .email{
            width: 430px;
            height: 50px;
        }
        .email input{
            background-color: rgb(110, 107, 107);
            opacity: 0.4;
            width: 100%;
            height: 100%;
        }
        .email input::placeholder{
            color: rgb(255, 255, 255);
            padding-left: 20px;
        }
        .gs{
            margin-left: 10px ;
            width: 230px;
            height: 50px;
            background-color: #e50914;
            display: flex;
            justify-content: center;
        }
        .section-one-2 .gs a{
            color: white;
            text-decoration: none;
            padding-top: 12px;
            font-weight: 600;
            font-family: sans-serif;
            font-size: 24px;
        }
    .section-two{
        width: 100%;
        height: 520px;
        background-color: black;
        border-bottom: 13px solid
        rgb(35,35,35);

    }
    .container{
        width: 80%;
        /* background-color: aqua; */
        margin: 0 auto;
        height: 100%;
    }
    .section-two-row{
        display: flex;
    }
    .section-two-1{
        flex: 1;
        /* background-color: rgb(78, 105, 105); */
        /* height: auto; */
        margin: auto 0;
    }
    .section-two-1 h2{
        font-size: 3rem;
        font-weight: 900;
        color: white;
        font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    }
    .section-two-1 p{
        font-size: 1.5rem;
        font-weight: 400;
        color: white;
        font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    }
    .section-two-2{
        flex: 1;
        /* margin: auto 0; */

        /* background-color: rgb(9, 155, 155); */
    }
    .section-two-2 video{
        position: absolute;
        right: 212px;
        width: 391px;
        margin-top: 85px;
    }
    .dropdowns{
        width: 100%;
        /* height: 720px; */
        background-color: rgb(0, 0, 0);
        border-bottom: 13px solid
        rgb(35,35,35);
    }
   

    .download-overlay{
        display: flex;
        width: 290px;
        height: 95px;
        border: 1px solid white;
        position: relative;
        bottom: 120px;
        left: 115px;
        border-radius: 10px;
        background-color: black;
        justify-content: space-between;
        align-items: center;
    }
    .download-overlay p{
        color: blue;
    }
  
    .footer{
        width: 100%;
        height: 400px;
        background-color: black;
    }
    .footer-col{
        display: flex;
        justify-content: space-between;
        width: 80%;
    }
    .footer-col a{
        color: #ffffffb3;
;
        font-family: sans-serif;
        margin-top: 14px;
    }
    .footer-col div{
            display: flex;
            flex-direction: column;
    }
    .footer p{
        font-size: 0.875rem;
        color: rgba(255,255,255,0.7);
        font-weight: 400;
        font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
        margin-top: 1.5rem;
    }
    /* .accordian{
        width: 100%;
        height: 90px;
        background-color: rgb(45,45,45);
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
    .accordian-down{
        width: 100%;
        background-color: rgb(100, 100, 100);
        height: 0px;
        margin-top: 1px;
    }
    .accordian p{
        font-family: sans-serif;
        font-size: 25px;
        color: white;
        padding-left: 24px;
    }
    .plus{
        font-size: 35px;
        color: white;

    }
     */
     .accordion {
        background-color: rgb(45,45,45);
        cursor: pointer;
        font-family: sans-serif;
        font-size: 25px;
        color: white;
        padding-left: 24px;
        width: 100%;
        height: 90px;
        margin-top: 10px;
        border: none;
        text-align: left;
        outline: none;
        transition: 0.4s;
        
      }
      
      .active, .accordion:hover {
        background-color: #424040;
      }
      
      .accordion:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
      }
      
      .active:after {
        content: "\2212";
      }
      
      .panel {
        background-color: rgb(45,45,45);
        max-height: 0;
        width: 100%;
        margin-top: 1px;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        font-family: sans-serif;
        font-size: 24px;
        color: white;
        padding: 0 18px;
    }
    .panel p{
        margin-bottom: 10px;
        margin-top: 10px;
    }