
        *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
        
        .header{
            background:url(Netflix-images/netflix-background.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-clip: border-box;
            border: 2px solid rgb(0, 0, 0);
            border-bottom: 13px solid
            rgb(35,35,35);
        }
       
        .nav{
            width: 80%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 0;
        }
        .netflix{
            width: 15%;
            /* padding: 40px; */
        }
        .nav-right{
            padding: 20px 0;
            display: flex;
            /* width: 30%; */
            /* padding-left: 53px; */
    
        }
        .drop-select{
            /* height: 36px; */
            /* padding: 20px; */
            /* margin: 0px 0; */
            display: flex;
            align-items: center;
            border: 2px solid rgb(152, 149, 149);
            border-radius: 5px;

            /* width: 116px; */
        }
        .drop-select select{
            background-color: transparent;
            color: white;
            appearance: none;
            padding: 0px 25px;
            /* width: 62px; */
            border: none;

        }
        
        .btn{
            text-decoration: none;
            color: #fff;
            padding: 6px 20px;
            margin-left:20px ;
            background: #e50914;
            border-radius: 5px;
            font-size: 16px;
            text-align: center;
        }
        .section-one{
            margin-bottom: 100px;
            padding-bottom: 50px;
        }
        .section-one-1{
            color: white;
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-top: 100px;
            padding-top: 100px;
        }
        .section-one-1 h2{
            font-size: 45px;
            font-weight: 900;
            font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
        }
        .section-one-1 p{
            font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
            font-weight: 400;
            margin-top: 10px;
            font-size: 25px;
        }
        .section-one-2{
            width: 60%;
            margin: 0 auto;
            gap: 10px;
            /* justify-content: space-between; */
            color: white;
            display: flex;
            margin-top: 12px;
        }
        .email{
            width: 60%;
            /* height: 50px; */
        }
        .email input{
            background-color: rgb(110, 107, 107);
            opacity: 0.4;
            width: 100%;
            padding: 15px 0;
        }
        .email input::placeholder{
            color: rgb(255, 255, 255);
            padding-left: 20px;
        }
        
        .section-one-2 button{
            background-color: #e50914;
            color: white;
            text-decoration: none;
            font-weight: 600;
            font-family: sans-serif;
            font-size: 24px;
            padding: 10px 20px;
        }

        /* ------------------------------------------------------------------------ */
    .section-two{
        width: 100%;
        /* height: 520px; */
        background-color: black;
        border-bottom: 13px solid
        rgb(35,35,35);

    }
    .container{
        width: 80%;
        /* background-color: aqua; */
        margin: 0 auto;
        /* height: 100%; */
    }
    .section-two-row{
        display: flex;
        padding: 60px 0;
    }
    .section-two-1{
        flex: 1;
        /* background-color: rgb(78, 105, 105); */
        /* height: auto; */
        margin: auto 0;
    }
    .section-two-1 h2{
        font-size: 48px;
        font-weight: 900;
        color: white;
        font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    }
    .section-two-1 p{
        font-size: 24px;
        font-weight: 400;
        color: white;
        font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    }
    .section-two-2{
        flex: 1;
        position: relative;
        /* margin: auto 0; */
        /* background-color: antiquewhite; */
        /* background: url("Netflix-images/video-tv-in-0819.m4v"); */
        /* background-color: rgb(9, 155, 155); */
    }
    .section-two-wrapper{
        padding: 0px 0;
    }
    .tv-rem{
        /* position: absolute; */
        /* background: url(Netflix-images/video-tv-in-0819.m4v); */
        /* z-index: 10; */
        /* position: absolute;
        left: 0;
        top: 0; */
        width: 90%;
        z-index: 10;
        position: absolute;
        left: 0;
        top: -62px;
        /* background-color: #e50914; */
    }
    .video{
        width: 75%;
        padding: 40px;
        padding-left: 0;
        padding-top: 0;
        margin: 0 auto;
   
        /* right: 212px; */
        /* width: 391px; */
        /* margin-top: 85px; */
    }

    /* ---------------------------------------------- */
    .dropdowns{
        width: 100%;
        /* height: 720px; */
        background-color: rgb(0, 0, 0);
        border-bottom: 13px solid
        rgb(35,35,35);
    }
   

    .download-overlay{
        display: flex;
        width: 70%;
        height: 95px;
        border: 1px solid white;
        position: absolute;
        /* bottom: 120px; */
        top: 240px;
        margin-left: 50px;
        /* left: 115px; */
        border-radius: 10px;
        background-color: black;
        justify-content: space-between;
        align-items: center;
    }
    .download-overlay p{
        color: blue;
    }
  /* --------------------------------------------------- */
    .footer{
        /* width: 100%;
        height: 400px; */
        background-color: black;
    }
    .footer-col{
        display: flex;
        justify-content: space-between;
        width: 80%;
    }
    .footer-col a{
        color: #ffffffb3;
;
        font-family: sans-serif;
        margin-top: 14px;
    }
    .footer-col div{
            display: flex;
            flex-direction: column;
    }
    .footer p{
        font-size: 14px;
        color: rgba(255,255,255,0.7);
        font-weight: 400;
        font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
        margin-top: 24px;
    }
    .accordian{
        width: 100%;
        height: 90px;
        background-color: rgb(45,45,45);
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
    .accordian-down{
        width: 100%;
        background-color: rgb(100, 100, 100);
        height: 0px;
        margin-top: 1px;
        transition: 0.4s;
        overflow: hidden;
    }
    .accordian p{
        font-family: sans-serif;
        font-size: 25px;
        color: white;
        padding-left: 24px;
    }
    .accordian-down p{
        font-family: sans-serif;
        font-size: 24px;
        color: white;
        padding: 10px 18px;
    }
    .plus{
        font-size: 35px;
        color: white;

    }
    
     /* .accordion {
        background-color: rgb(45,45,45);
        cursor: pointer;
        font-family: sans-serif;
        font-size: 25px;
        color: white;
        padding-left: 24px;
        width: 100%;
        height: 90px;
        margin-top: 10px;
        border: none;
        text-align: left;
        outline: none;
        transition: 0.4s;
        
      }
      
      .active, .accordion:hover {
        background-color: #424040;
      }
      
      .accordion:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
      }
      
      .active:after {
        content: "\2212";
      }
      
      .panel {
        background-color: rgb(45,45,45);
        max-height: 0;
        width: 100%;
        margin-top: 1px;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        font-family: sans-serif;
        font-size: 24px;
        color: white;
        padding: 0 18px;
    }
    .panel p{
        margin-bottom: 10px;
        margin-top: 10px;
    } */
    .dropdowns-down{
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .dropdowns-down p{
        color: white;
        text-align: center;
        font-size: 1.50rem;
        font-weight: 400;
        line-height: 1.5;
        font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    }